// 颜色定义规范
$color-background=#222;
$color-backgournd-d = rgba(0,0,0,.3);
$color-heghlight-background = #333;
$color-dialog-background = #666;
$color-theme = #956d39;

// 字体定义规范
$font-size-small-s = 10px;
$font-size-small-m = 11px;
$font-size-small = 12px;
$font-size-small-x = 13px;
$font-size-medium = 14px;
$font-size-medium-s = 15px;
$font-size-medium-x = 16px;
$font-size-medium-xl = 17px;
$font-size-large = 18px;
$font-size-large-xl = 19px;
$font-size-large-x = 22px;